@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- about sectuion start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_img"><img src="~/temp/images/about-img.png"></div>
            </div>
            <div class="col-md-6">
                <h1 class="about_taital">About Icecream</h1>
                <p class="about_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore euconsectetur adipiscing esequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                <div class="read_bt_1"><a href="#">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<!-- about sectuion end -->
<!-- cream sectuion start -->
<div class="cream_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="cream_taital">Our Featured Ice Cream</h1>
                <p class="cream_text">tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
        <div class="cream_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="cream_box">
                        <div class="cream_img"><img src="~/temp/images/img-1.png"></div>
                        <div class="price_text">$10</div>
                        <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cream_box">
                        <div class="cream_img"><img src="~/temp/images/img-2.png"></div>
                        <div class="price_text">$10</div>
                        <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cream_box">
                        <div class="cream_img"><img src="~/temp/images/img-1.png"></div>
                        <div class="price_text">$10</div>
                        <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cream_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="cream_box">
                        <div class="cream_img"><img src="~/temp/images/img-3.png"></div>
                        <div class="price_text">$10</div>
                        <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cream_box">
                        <div class="cream_img"><img src="~/temp/images/img-4.png"></div>
                        <div class="price_text">$10</div>
                        <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cream_box">
                        <div class="cream_img"><img src="~/temp/images/img-5.png"></div>
                        <div class="price_text">$10</div>
                        <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seemore_bt"><a href="#">See More</a></div>
    </div>
</div>
<!-- cream sectuion end -->
<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="services_taital">Our Ice Cream Services</h1>
                <p class="services_text">tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
        <div class="services_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="services_box">
                        <h5 class="tasty_text"><span class="icon_img"><img src="~/temp/images/icon-1.png"></span>Cookies Ice Cream</h5>
                        <p class="lorem_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fat </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services_box">
                        <h5 class="tasty_text"><span class="icon_img"><img src="~/temp/images/icon-2.png"></span>Cookies Ice Cream</h5>
                        <p class="lorem_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fat </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services_box">
                        <h5 class="tasty_text"><span class="icon_img"><img src="~/temp/images/icon-1.png"></span>Cookies Ice Cream</h5>
                        <p class="lorem_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fat </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="seemore_bt"><a href="#">Read More</a></div>
    </div>
</div>
<!-- services section end -->
<!-- testimonial section start -->
<div class="testimonial_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="testimonial_taital">Testimonial</h1>
            </div>
        </div>
        <div class="testimonial_section_2">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial_box">
                        <div id="main_slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p class="testimonial_text">tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
                                    <h4 class="client_name">Marri Fen</h4>
                                    <div class="client_img"><img src="~/temp/images/client-img.png"></div>
                                </div>
                                <div class="carousel-item">
                                    <p class="testimonial_text">tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
                                    <h4 class="client_name">Marri Fen</h4>
                                    <div class="client_img"><img src="~/temp/images/client-img.png"></div>
                                </div>
                                <div class="carousel-item">
                                    <p class="testimonial_text">tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
                                    <h4 class="client_name">Marri Fen</h4>
                                    <div class="client_img"><img src="~/temp/images/client-img.png"></div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial section end -->